body {
	background: #273F5B !important;
}

.posmaks-title {
	font-size: 35px !important;
	color: white !important;
	font-weight: 400 !important;
	text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width : 360px) {
    .posmaks-title {
        font-size: 25px !important;
        color: white !important;
        font-weight: 400 !important;
        text-align: center;
        margin-top: 10px;
    }
}

.login-footer {
    position: absolute;
    bottom: 0;
    padding: 0;
}

.pl-pr-0 {
    padding-left: 0;
    padding-right: 0;
}

.body-container {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.label-login {
	font-size: 25px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    font-family: inherit;
}

.btn-login {

	margin-top: 30px !important;

}

.settings-icon {
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    background: green;
    float: left;
}

.set-icon {
	color: white;
    font-size: 50px;
    text-align: center;
}

.settings-span {
	background: green;
    height: 60px;
    float: right;
}

.set-span {
	font-size: 40px;
    color: white;
}

.settings-delete {
	background: #b70606;
    height: 60px;
    float:right;
}

.set-delete {
	color: white;
    font-size: 55px;
}

footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    /*padding:20px;*/
   /* just for demo */ 
  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
.input-background {
    background: white !important;
    padding-left: 10px;
}