/*  bhoechie tab */

#wizardModal .modal-body {
    padding: 0.1px !important;
    display: flex;
}

.wizard-header .header-title {
    background: #172433;
    text-align: center;
    padding-right: 0 !important;
}

.wizard-header .close-button {
    background: #172433;
    text-align: center;
    cursor: pointer;
}

.wizard-header .header-title span {
    color: white;
    padding: 40px !important;
    font-size: 40px;
    font-weight: 500;
}

.wizard-header .close-button span {
    color: white;
    font-size: 40px;
}

#wizardModal .nav-wizard {
    width: 50px;
    background: #283F5A;
    float: left;
}

#wizardModal .nav-wizard li {
    width: 50px;
    text-align: center;
}

#wizardModal .nav-wizard li.active a {
    background: #2C5275 !important;
}

#wizardModal .nav-wizard li a:hover {
    background: #2C5275 !important;
}

#wizardModal .nav-wizard li a {
    color: white;
    font-size: 25px;
}

#wizardModal .content-header {
    font-weight: 400;
    color: #283f59;
    font-size: 25px;
}

#wizardModal .location-list ul li {
    background: #283f59;
    color: white;
}

#wizardModal .location-list .list-group-icons {
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
}

#wizardModal .location-list .list-group-icons .edit {
    float: right;
    display: block;
    background-color: orange;
}

#wizardModal .location-list .list-group-icons .remove {
    float: right;
    display: block;
    background-color: #C32949;
}

.bb-0 {
    border-bottom: 0 !important;
}

.b-0 {
    border:0px !important;
}

.d-block {
    display: block !important;
}

.f-s-25 {
    font-size: 25px !important;
}

.h500 {
    height: 500px;
}


.w100 {
    width: 100% !important;
}

.w-full {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.bg-special-blue {
    background: #283f59 !important;
}

.bg-special-gray {
    background: #EBEBEB;
}

.bg-special-white {
    background: #ffffff !important;
}

.footer-button-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 50px);
    background: #c42949 !important;
    border: 0;
}

.footer-button-fixed:hover {
    background: #c42949;
    border:0;
}

.footer-button-fixed:disabled {
    background: #9e3e51;
    border: 0;
}

.nav-header-tabs li {
    background: #283f59 !important;
}

.nav-header-tabs .add-floor {
    background: #283f59 !important;
    margin-right: 20px;
}

.label-ex-floor {
    font-size: medium;
    font-style: italic;
}

.floor-list .floor-title {
    height:100px;
    display:table;
}

.zone-list .zone-title {
    height: 100px;
    display: table;
}

.zone-list .zone-title span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
}

.zone-list .edit,
.zone-list .remove {
    display: table;
    height: 50px;
    cursor: pointer;
}

.zone-list .edit i,
.zone-list .remove i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: white;
}

.floor-list .floor-title p {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.floor-list .edit,
.floor-list .remove
{
    display: table;
    height: 50px;
    cursor: pointer;
}

.floor-list .edit i,
.floor-list .remove i 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: white;
}

.production-list a:hover {

    color: white;
    text-decoration: none;

}

.production-list .production-title p {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.production-list .edit,
.production-list .remove {
    display: table;
    height: 50px;
    cursor: pointer;
}

.production-list .edit i,
.production-list .remove i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: white;
}

.production-list .production-title {
    height: 100px;
    display: table;
}

.stock-list a:hover {

    color: white;
    text-decoration: none;

}

.stock-list .stock-title p {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.stock-list .edit,
.stock-list .remove {
    display: table;
    height: 50px;
    cursor: pointer;
}

.stock-list .edit i,
.stock-list .remove i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    color: white;
}

.stock-list .stock-title {
    height: 100px;
    display: table;
}

.floor-tab {
    z-index: 9999;
}

.floor-tab input[name=floor_id]:checked + div
{
  background: #8a9baf !important;
} 

.choose-floor label {
    position: relative;
    width: 100%;
    height: 100%;
}

#wizardModal .production-list li {
    background: #283f59;
    color: white;
    padding: 20px;
}

.non-editable {
    background: gray;
    cursor: no-drop !important;
}

.bg-disabled-color-blue {
  background: #8a9baf !important;
}

.bg-disabled-color-white {
  background: #f5f5f5 !important;
}

.save-button-fixed {
    position: absolute;
    bottom: 0;
    right: 0;
}

.position-bottom-fixed {
    position: absolute;
    bottom: 0;
}

.button-flexible {
    display: flex;
    align-items: flex-end;
}

p.text-overflow:hover {
    overflow: visible;
    white-space: normal;
    height:auto;
}


