/* #cari-add-payment .btn-group .btn.active, #cari-add-receipt .btn-group .btn.active  {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

#cari-add-payment .tab-content, #cari-add-receipt .tab-content  {
    border: 0 !important;
    padding: 0 !important;
} */