.page-header {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.page-header button {
	height: 80px;
}

#pos-products .product .caption {
	background: rgba(0, 0, 0, 0.56);
	color: #fff;
}

.m-y--40 {
	margin-left: -40px !important;
	margin-right: -40px !important;
}

.h--150 {
	height: calc(100% - 150px) !important;
}

.cursor-no-drop {
	cursor: no-drop;
}

.strikethrough:checked + span {
	color: #9E9E9E;
}


/*Pos*/
#pos-basket .pr-additional_title,
#pos-basket .pr-additional_price,
#pos-basket .pr-additional_total {
	font-size: 80%;
    font-style: italic;
}

#pos-basket > .ordered {
	background: #e1e1e1;
}

/*Return*/
.btn-light-blue-active.active {
	background-color: white;
    color: #02a8f3;
}
#return-products .product {
	height: 150px;
}
#return-products .additional_products {
	line-height: 1.7rem;
}

/*Product Note*/
#modal-product_note .note-height {
	min-height: 140px;
}
@-webkit-keyframes flash {
    0%,100%,50% { opacity: 1 }
    25%,75% { opacity: 0 }
}
@keyframes flash {
    0%,100%,50% { opacity: 1 }
    25%,75% { opacity: 0 }
}
.fa-flash {
	-webkit-animation: flash 2s ease infinite; 
	animation: flash 2s ease infinite; 
}

/*Invoice*/
#tab-invoice .invoice-additional_title,
#tab-invoice .invoice-additional_price,
#tab-invoice .invoice-additional_tax,
#tab-invoice .invoice-additional_total {
	font-size: 80%;
}

/*Adisyon*/
#tab-adisyon .invoice-additional_title,
#tab-adisyon .invoice-additional_price,
#tab-adisyon .invoice-additional_tax,
#tab-adisyon .invoice-additional_total {
	font-size: 80%;
}


/*Food Loader*/
.loader-wrapper {
    background: rgba(255, 255, 255, 0.4);
    background: -webkit-radial-gradient(white 30%, rgba(255, 255, 255, 0.4));
    background: -o-radial-gradient(white 30%, rgba(255, 255, 255, 0.4));
    background: -moz-radial-gradient(white 30%, rgba(255, 255, 255, 0.4));
    background: radial-gradient(white 30%, rgba(255, 255, 255, 0.4));
    width: 100%;
    height: 100%;
	top: 0;
    left: 0;
	position: absolute;
	z-index: 99999999999999999999999999999999999;
}
.loader-wrapper .loader-bussy {
	position: relative;
    width: 100%;
    height: 100%;
}
.food-loader-2 {
	background-image: url("../../img/spinner/food-loader-2.gif");
	background-repeat: no-repeat;
	background-position: center;
}

/*Tables*/
#tab-tables{
	min-height: 500px;
}
.points-ground {
	background: #3b863e;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	background-size: 50px 50px;
	min-height: 600px;
	width: 100%;
}
.pnt {
	font-size: 1.5rem;
	height: 75px;
	width: 75px;
	position: absolute;
}
.pnt-green {
	background: #469a46;	
	color: white;
}
.pnt-red {
	background: #fd4a5c;
	color: white;	
}
.pnt-active {
	border: 2px dashed #273f5b;
}
#tab_contents_container {
	position: relative;
}
#tab_contents_container .has-background {
	/*background-size: cover !important;*/
	/*background-position: center !important;*/
	background-repeat: no-repeat !important;
}

/*Interim Payments*/
#tab-interimpayments td.quantity input {
	border: 0;
    background: transparent;
}
#tab-interimpayments .interim_payments-unpaid tbody tr,
#tab-interimpayments .interim_payments-payable tbody tr {
	cursor: pointer;
}
#tab-interimpayments .interim_payments-paid tbody tr {
	cursor: no-drop;
}


/*Operator Sesison*/
#tab-operatorsession #numpad {
	background: black;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover !important;
    background-position: center center;
}


/* Cash Closing */
#cct-moneys p,
#cct-hasproblem p {
    border: 1px solid black;
    font-size: 3rem;
}

.moneyInputs input {
    border: 1px solid silver;
    text-align: right;
    padding-right: 3px;
}
.moneyInputs input.form-control[readonly] {
    background-color: #FFEFBE;
}

#print-content {
    padding: 10px !important;
    border: 0 !important;
}

/*Order Track*/
#ordertrack_notification .count {
	font-weight: bold;
}
#ordertrack_notification.disabled .count {
	display: none;
}

/*PAckage Service Orders*/
#tab-packageserviceorders > div > div.panel-body {
	height: calc(100vh - 170px);
}
#orders-pending .order {
	background: #1663a1;
	border-right: 1px solid white;
	color: #fff;
}
#orders-pending .order .courier_name{
	display: none;
}
#orders-shipped .order {
	background: #3c863f;
	border-right: 1px solid white;
	color: #fff;
}
#orders-shipped .order .ready {
	display: none;
}


/*Keyboard*/
@font-face {
    font-family: 'Calculator';
    src:url('../../fonts/Calculator.ttf.woff') format('woff'),
        url('../../fonts/Calculator.ttf.svg#Calculator') format('svg'),
        url('../../fonts/Calculator.ttf.eot'),
        url('../../fonts/Calculator.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
.numpad-container .calculator-input {
	font-family: 'Calculator';
    font-size: 8rem;
    background: #4CAF50;
    color: black;
	height: 8rem;
}
.keypad-container .keypad-textarea {
	background: white;
}

/* Pos Sidebar Buttons */

.left-pos-buttons {
	position: fixed;
    left: 0;
    width: 81px !important;
    top: 81px;
}

.left-pos-buttons .list-group-item {
	padding: 0;
	border:0 !important;
}

.left-pos-buttons .btn {
	width: 81px;
    height: 81px;
    padding: 0;
    line-height: 1.3;
    /*font-weight: 500;*/
    font-size: 14px !important;
    border-radius: 0;
}

.nav-bar-border {
	background: #273f5b !important;
	border-right: 0 !important;
}

.theme-deep-blue .nav-menu .hamburger .patty {
	background: white !important;
}

.nav-user {
	display: none;
}

#tab-packageserviceorders .panel-body h3 {
	font-weight: 450;
}

.pnt div {
	font-weight: 550;
}

.pr-container {
	font-size:14px;
}

/*.page-header a {
	height: 81px;
	border-radius: 0;
}*/

#modal-case a h4 {
	display: inline;
}

.package-orders-panel {
	overflow-y: auto;
    margin-bottom: -20px;
}

/*BUGS*/
.nav-user,
.nav-menu {
	z-index: 1;
}

#modal_ys_reject_note .modal-footer {
	border-top: 0 !important;
}

/*#tab-adisyon td {
	padding: 2px !important;
    line-height: 1 !important;
}*/

@media print {
   .invoice-body td {
	padding: 2px !important;
    line-height: 1 !important;
}
}

.paid-group {
	background: #172D3F;
    color: white;
    height: 100px;
}

.paid-group strong {
	font-size:30px;
}


.payment-group {
	background: #607C89;
    color: white;
    height: 100px;
}

.payment-group .type {
	display: inline-grid;
	height: 100%;
}

.payment-group p {
	width:100%;
	margin-top:10px;
}

.payment-group strong {
	font-size:30px;
	width:100%;	
	margin-top: -20px;
}

.payment-input {
	background: #8ac249;
    height: 100px !important;
    color: white;
    font-weight: bold;
    text-align: center;
}

#pos .small, #orders .small {
	font-size: 125% !important;
	font-weight: bold !important;
}

#pos nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, 
#orders nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff  !important;
    background-color: #5677fc  !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

#pos .btn, #orders .btn {
    font-weight: bold !important;
    font-size:20px;
}

