body{
	background: whitesmoke;
}

.Address{
    padding: 20px;
	background: whitesmoke;
}
.location{
	padding: 20px;
	background: whitesmoke;
}
.Online_Admin_Panel_Content{
	padding: 50px;
}
.page_title{
	width: 100%;
    height: auto;
    min-height: 80px;
    background: #273F5B;
    padding: 25px;
}
.page_title .col-sm-6{
	float: left;
}
.page_title .col-sm-6 a{
    color: white;
    font-family: 'RobotoDraft', sans-serif;
    float: right;
    font-size: 15px;
}
.page_title .back_icon .back_icon_button{
    font-family: 'RobotoDraft', sans-serif;
    float: right;
    width: 48px;
    height: 48px;
    padding: 6px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #337ab7;
    border: 0;
    font-size: 24px;
    margin-top: -10px;
}
.page_title .col-sm-6 h4{
	color: white;
    margin-left: 40px;
    font-size: 28px;
    font-family: inherit;
    font-weight: 300;
    margin-top: -5px;
}
.page_title .col-sm-6 h6{
	color: white;
    font-family: 'RobotoDraft', sans-serif;
	float: right;
}
.page_title .col-sm-6 .back_icon{
	float: left;
    margin-left: -17px;
}
.page_title .back-card-full-icon {
    position: absolute;
    margin-top: 6px;
    font-size: 21px;
    color: #fff;
    margin-left: 9px;
}
.page_title .card-full-icon {
    margin-top: -10px;
    font-size: 20px;
    opacity: .5;
    color: #fff;
    margin-right: 10px;
}
.page_title .breadcrumb {
    margin: 5px 0 0 0;
    padding: 0;
    background: transparent;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.total_average{
    background: #2095f2;
    float: left;
    color: #ffffff;
    margin-right: 0px;
    margin-bottom: 40px;
}
.total_average h2{
    color: #3c3c3c;
    margin-top: -40px;
}
.opinions_flavor{
	background: #4bae4f;
    float: left;
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 0px;
}
.opinions_flavor h2{
	color: #3c3c3c;
    margin-top: -40px;
}
.opinions_presentations{
	background: #f34235;
    float: left;
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 0px;
}
.opinions_presentations h2{
	color: #3c3c3c;
    margin-top: -40px;
}
.opinions_interest{
	background: #fec006;
    float: left;
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 0px;
}
.opinions_interest h2{
	color: #3c3c3c;
    margin-top: -40px;
}
.opinions_service{
	background: #e81d62;
    float: left;
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 0px;
}
.opinions_service h2{
	color: #3c3c3c;
    margin-top: -40px;
}
.opinions_price{
	background: #ffc51b;
    float: left;
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 0px;
}
.opinions_price h2{
	color: #3c3c3c;
    margin-top: -40px;
}
.opinions_cleaning{
	background: #969696;
    float: left;
    color: #ffffff;
    margin-right: 0px;
    margin-bottom: 40px;
}
.opinions_cleaning h2{
	color: #3c3c3c;
    margin-top: -40px;
}

#admin_panel_image{
   background-image:url('');
   background-size:cover;
   background-position: center;
   height: 200px; width: 600px;
   border: 1px solid #bbb;
}
#admin_panel_logo_image{
   background-image:url('');
   background-size:cover;
   background-position: center;
   height: 200px; width: 600px;
   border: 1px solid #bbb;
}
#preview_image_{
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 200px; width: 600px;
    border: 1px solid #bbb;
}

.location_button .location_title{
    margin-top: 5px;
    margin-bottom: 0rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.delete_logo_image{
    margin-top: 70px;
}
.settings_logo_image{
    width: 600px;
    height: 200px;
}